
<div class="task-list">
  <div class="task-list__content">
    <div class="task-list__header">
      <h2>Ma liste de tâches</h2>
      <app-task-create (taskAdded)="addTask($event)"></app-task-create>
    </div>

    <ul class="task-list__container">
      @for (task of tasks$ | async; track $index) {
        <app-task-item
          [task]="task"
          [index]="$index"
          (taskDeleted)="deleteTask(task.id!)"
          (taskToggled)="toggleDone($event)"
          (edit)="editTask($event)"
        >
        </app-task-item>
      }
    </ul>
  </div>
</div>
