<div class="signin">
  <div class="signin__container">
    <h2>Inscription</h2>
    <form [formGroup]="signinForm" (submit)="signIn()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Votre email"
          [ngClass]="{
            alert: !!errorFirebase || (email?.invalid && (email?.dirty || email?.touched)),
          }"
        />
        @if (email?.invalid && (email?.dirty || email?.touched)) {
          <small class="alert">
            @if (email?.hasError('required')) {
              Champ à remplir.
            }
            @if (email?.hasError('email')) {
              Adresse mail invalide.
            }
          </small>
        }
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Votre mot de passe"
          [ngClass]="{
            alert: !!errorFirebase || (password?.invalid && (password?.dirty || password?.touched)),
          }"
        />
        @if (password?.invalid && (password?.dirty || password?.touched)) {
          <small class="alert">
            @if (password?.hasError('required')) {
              Champ à remplir.
            }
            @if (password?.hasError('minlength')) {
              Le mot de passe doit contenir au moins 6 caractères.
            }
          </small>
        }
        @if (!!errorFirebase) {
          <small class="alert">
            @switch (errorFirebase.code) {
              @case ('auth/invalid-email') {
                L'adresse mail renseignée n'est pas valide.
              }
              @case ('auth/email-already-in-use') {
                L'adresse mail est déjà utilisée.
              }
              @default {
                Une erreur inattendue est survenue. Veuillez réessayer.
              }
            }
          </small>
        }
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!signinForm.valid">
        S'inscrire
      </button>
      <a [routerLink]="['/login']" class="btn btn-secondary">Déjà un compte ?</a>
    </form>
  </div>
</div>
